<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>IIS Project</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <a class="navbar-brand" href="/">IIS Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/xsdValidation">Test XSD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rngValidation">Test RNG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SOAP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nbaTeams">NBA Teams API</a>
      </li>
    </ul>
  </div>
</nav>
<div layout:fragment="content">
  <p>Changing contents</p>
</div>
</body>
</html>