<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<body>
<div layout:fragment="content">
  <h1 style="text-align: center">XSD validation page</h1>
  <div style="width: 70%; margin: auto">
      <form action="#" th:action="@{/xsdValidation}" th:object="${team}" method="POST">
          <div class="form-group">
              <label for="id">Id</label>
              <input type="text" th:field="*{id}" name="name" id="id" class="form-control" placeholder="Enter id...">
          </div>
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" th:field="*{name}" name="name" id="name" class="form-control" placeholder="Enter name...">
          </div>
          <div class="form-group">
              <label for="nickname">Nickname</label>
              <input type="text" th:field="*{nickname}" name="nickname" id="nickname" class="form-control" placeholder="Enter nickname...">
          </div>
          <div class="form-group">
              <label for="code">CODE</label>
              <input type="text" th:field="*{code}" name="code" id="code" class="form-control" placeholder="Enter code...">
          </div>
          <div class="form-group">
              <label for="city">City</label>
              <input type="text" th:field="*{city}" name="city" id="city" class="form-control" placeholder="Enter city...">
          </div>
          <div class="form-group">
              <label for="logo">Logo</label>
              <input type="text" th:field="*{logo}" name="city" id="logo" class="form-control" placeholder="Enter logo URL...">
          </div>
          <div class="form-group">
              <label for="nba-franchise">Nba franchise</label>
              <input type="text" th:field="*{nbaFranchise}" name="nba-franchise" id="nba-franchise" class="form-control" placeholder="Enter nba-franchise...">
          </div>
          <input type="submit" class="btn btn-primary" value="Test XSD">
      </form>
      <div>
          <h3>Result: </h3>
          <p th:text="${result}" />
      </div>
  </div>
</div>
</body>
</html>